div.form {
  margin-bottom: .5em;

  label {
    width: 8em;
    justify-content: flex-start
  }

  input {
    width: 20em;
  }
}

.container {
  padding: 1em;
}

.oddRow {
  background-color: silver;
}
