<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CodeGym Huế</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link"
            routerLink="/list"
            >Task list<span class="sr-only">(current)</span></a
          >
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/add">Add task</a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>

<div class="alert alert-success"
[ngClass]="{'alert-success': message.type === 1, 'alert-danger': message.type === 0}"
*ngIf="message" role="alert">
  {{ message.content }}
</div>
