<div class="container">
  <div class="form">
    <div class="form-group form-inline">
      <label>Tên công việc: </label>
      <input [(ngModel)]="inputName" class="form-control" #controlName />
    </div>

    <div class="form-group form-inline">
      <label>Deadline: </label>
      <input [(ngModel)]="inputDate" class="form-control" type="date" #controlDeadline />
    </div>

    <button
      class="btn btn-primary"
      type="button"
      (click)="add()"
    >
      Thêm công việc
    </button>
  </div>
<!--
  <table class="table" style="width: 100%">
    <thead>
      <tr>
        <th>STT</th>
        <th>Tên công việc</th>
        <th>Hạn cuối</th>

        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let job of jobs; let idx = index" [ngClass]="{ oddRow: idx % 2 != 0 }">
        <td>{{ idx + 1 }}</td>
        <td>
          {{ job.name }}
        </td>
        <td>
          {{ job.deadline | date: 'dd/MM/yyyy HH:mm:ss'}}
        </td>
        <td>
          <button class="btn btn-sm btn-danger" (click)="delete(idx)">
            Xóa
          </button>
        </td>
      </tr>
    </tbody>
  </table> -->

  <app-task-item *ngFor="let job of jobs" [job]="job" (onDelete)="delete($event)"></app-task-item>
</div>

