.container {
  padding: 0 1em;
}

.oddRow {
  background-color: silver;
}

nav {
  margin-bottom: 1em;
}

.alert {
  max-width: 500px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
